* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header{
    background-color: #808080b0;
}
header img {
    height: 35px;
    width: 35px;
    
    
            
}

h1{
    
    text-align: center;
    font-size: 44px;
}
nav{
	display: flex;
	justify-content: center;
	gap:40px;
	padding: 10PX;
    text-align: center;
    background-color: black;
    
}

nav a{
    text-decoration: none;
    color: #fff;
}
body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	/* Flexbox */
	/* display: flex;
	gap: 20px; */

	/* Grid */
	display: grid;
	grid-template-columns: 3fr; 
	gap: 20px;
}



.contenedor-Geek {
	/* Flexbox */
	/* width: 70%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; */

	/* Grid */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
    
}

 .card {
	border-radius: 40px;
	min-height: 400px;
    width: 400px;
    
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
  

	/* Flexbox */
	/* width: calc(33.33% - 20px); */
}

input{
    transition: 2s all;
}
.card .textos {
	height: 100%;
	
	/* Flebox */
	display: flex;
    text-align: center;
	flex-direction: column;
	justify-content: space-between;

	/* Grid */
	/* display: grid;
	grid-template-rows: 1fr auto; */
}

section{
	padding: 50px;
}

.logoF{
    height: 35px;
    width: 35px;
}
.gridFoot {
    display: grid;
    background-color:black;
    grid-template-areas: 'redes redes  redes'
                        'reserved  reserved reserved';
                 
}

.resoc {
    grid-area: redes;
    
}

.gridFoot span {
    display: inline-block;
    text-align: center;
    grid-area: reserved;
}
@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}
